@font-face {
  font-family: Unica-one;
  src: url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
}

.main {
  font-family: "Unica One";
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  height: 100%;
  padding: 10% 5%  0% 5%; 
}

.login {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  font-size: 80px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-color: white;
  text-decoration: none;
}

.todoMain {
  padding-top: 10%;
  text-align: center;
}

.addButton {
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  width: 20%;
  font-size: 30px;
  text-decoration: none;
}

.takingNote {
  width: 80%;
  height: 100px;
  border-radius: 5px;
}

.takingTitle {
  width: 80%;
  border-radius: 5px;
}