@font-face {
  font-family: Unica-one;
  src: url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
}

.main {
  font-family: "Unica One";
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 120px;
  height: 100%;
}

.login {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  font-size: 80px;
  padding: 20px;
  border-radius: 10px;
  border-color: white;
}